<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<div class="content_wraper">
    <div class="main_container">   
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
                <li><a href="<%= adminbaseurl %>permission-group/list">Permission Groups</a></li>
                <li><%=title%></li>
            </ul>
        </div>

        <% if(messages!='') {%>
        <div class="succ_msg msg" id="succ_msg">    
            <i class="fa fa-check"  aria-hidden="true"></i>        
            <%=messages%>
        </div>
        <%}%>                
        <% if(errors!='') {%>
        <div class="succ_err msg" id="err_msg">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
            <%=errors%>
        </div>
        <% }%>

        <form class="form-horizontal form-label-left" method="post" action="<%= adminbaseurl %>permission-group/addOrUpdate">
            <div class="content_body panel_body edit_store">
                <div class="panel_title">
                    <h3><%=title%></h3>
                </div>
                <div class="clearfix"></div>
                <div class="row edit_box">
                    <div class="col-sm-6 mb-4">
                        <div class="animate_form field">
                            <span>Name <span class="text-danger">*</span></span>
                            <input id="groupName" class="form-control" required name="groupName" type="text" value="<%= data ? data.groupName : '' %>">
                        </div>
                    </div>

                    <div class="col-sm-6 mb-4">
                        <div class="animate_form field">
                            <span>Sequence</span>
                            <input id="sequence" class="form-control" name="sequence" type="number" value="<%= data ? data.sequence : '' %>">
                        </div>
                    </div>

                    <div class="col-sm-6 mb-4">
                        <div class="animate_form field">
                            <span>Status <span class="text-danger">*</span></span>
                            <select name="status" class="form-control" id="status">
                                <option <% if(data.status=='Yes'){ %>selected="selected" <% }%> value="Yes">YES</option>
                                <option <% if(data.status=='No'){ %>selected="selected" <% }%> value="No">NO</option>  
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-4">
                        <div class="animate_form field">
                            <span>Description</span>
                            <textarea id="description" class="form-control" name="description" type="text"><%= data ? data.description : '' %></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn_right mb-4">
                <input type="hidden" name="updateId" value="<%= data ? data.id : '' %>">
                <button id="send" type="submit" class="submit_btn">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include ../partials/footer.html %>