node_modules
html
public/*
public/myimages/*
public/admin/banner/*
public/admin/banners/*
public/admin/pages/*
public/admin/contentblock/*
helpers/validation_schema.js
package-lock.json
config/config.json
app.js
env
