<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>
<style type="text/css">
  .addStore{padding: 10px;float: right;font-size: 15px;}
</style>   
<div class="content_wraper">
  <div class="main_container">
    <div class="header_wraper">
      <h2><%=title%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li>
        <li><h4><%=title%><small></small></h4></li>
      </ul>
    </div>
    <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg"><i class="fa fa-check"  aria-hidden="true"></i><%=messages%></div>
    <%}%>
    <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><%=errors%></div>
    <% }%>
    <div class="content_body">
      <div class="table_heading">
        <h3>Manage Role </h3>
        <% var userPermission =false;
        if(permissions.length==0 && role==''){
          userPermission=true
        }else{
          userPermission = !! permissions.find(permission => { 
            return permission === 'RoleAddEdit'
          })
        }
        if(userPermission==true){ %>
          <a href="<%= adminbaseurl %>roles/view" class="btn btn-info btn-lg addStore"  ><i class="fa fa-plus1">+</i> Add Role</a>
        <% } %>         
        <div class="table_search">
          <input type="text" placeholder="Search Stores...">
            <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
        </div>
      </div>
      <div class="table-responsive table_wraper">
        <table class="table product_list025">
          <thead>
            <tr>
              <th class="checkbox_cell"></th>
              <th style="width:15px">Sl No</th>
              <th>Store</th>
              <th>Name</th>
              <th>Slug</th>
              <th>Description</th>
              <th>Active</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% var i=1;
            arrData.forEach(function(val) { %>
              <tr>
                <td class="checkbox_cell"></td>
                <td> <%= i %></td>
                <td>
                  <%= val.store!=undefined?val.store.storeName:'' %>
                </td>
                <td> <%= val.name %></td>
                <td> <%= val.slug %></td>
                <td> <%= val.description %></td>
                <td> <%= val.status %></td>
                <td>
                  <% if(permissions.length==0 && role=='' ){ userPermission=true }else{ userPermission=!! permissions.find(permission=> {
                    return permission === 'RoleView'
                    })
                    }
                    if(userPermission==true){ %>
                  <a href="<%= adminbaseurl%>roles/view/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                  <%}%>
                  <% if(permissions.length==0 && role=='' ){ userPermission=true }else{ userPermission=!! permissions.find(permission=> {
                    return permission === 'RoleDelete'
                    })
                    }
                    if(userPermission==true){ %>
                  <a href="<%= adminbaseurl%>roles/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                  <%}%>
                </td>
                <td>&nbsp;</td>
              </tr>
            <% i++; }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include ../partials/footer.html %>