<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>
<style type="text/css">
  .addStore{padding: 10px;float: right;font-size: 15px;}
</style>   
<div class="content_wraper">
  <div class="main_container">
    <div class="header_wraper">
      <h2><%=title%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li>
        <li><h4><%=title%><small></small></h4></li>
      </ul>
    </div>
    <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg"><i class="fa fa-check"  aria-hidden="true"></i><%=messages%></div>
    <%}%>
    <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><%=errors%></div>
    <% }%>
    <div class="content_body">
      <div class="table_heading mb-5">
        <h3>Manage Pages</h3>

        <div class="mt-3">
          <div class="float-left">
            <span style="font-size: 16px;">Showing </span>
            <select onchange="location = this.value" style="height: 25px; width: 60px;">
              <option value="1?pagesize=10<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='10'){ %>selected <% }%> >10</option>
              <option value="1?pagesize=25<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='25'){ %>selected <% }%>>25</option>
              <option value="1?pagesize=50<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='50'){ %>selected <% }%>>50</option>
              <option value="1?pagesize=100<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='100'){ %>selected <% }%>>100</option>
            </select> 
            <span style="font-size: 16px;"> entries </span>        
          </div>
  
          <div class="float-right">
            <a href="<%= adminbaseurl %>pages/view" class="btn btn-info btn-sm"  ><i class="fa fa-plus"></i> Add page</a> 
            <span class="bg-light p-2 font-weight-bold" style="cursor: pointer; border: 1px solid rgb(199, 199, 199); border-radius: 4px;" onclick="showhide()"><i class="fa fa-cog"></i> Columns</span>
                <div class="bg-light" id="columns" style="position:absolute; z-index: 1; padding: 10px; border: 1px solid rgb(199, 199, 199); border-radius: 4px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="slug" id="slug"> 
                        <label class="form-check-label" for="slug">Slug</label>  
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="heading" id="head">
                        <label class="form-check-label" for="head">Heading</label> 
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="createdAt" id="create"> 
                        <label class="form-check-label" for="create">Created Date</label> 
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="metaImage" id="mi"> 
                        <label class="form-check-label" for="mi">Meta Image</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="metaTitle" id="mt"> 
                        <label class="form-check-label" for="mt">Meta Title</label> 
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="metaKeywords" id="mk"> 
                        <label class="form-check-label" for="mk">Meta Keyword</label> 
                    </div>
                </div>
          </div>
       </div>
      </div>
      <div class="table-responsive table_wraper">
        <table class="table product_list025">
          <thead>
            <tr style="cursor: pointer;">
              <% if(orderType =='DESC') {%>
                <th data-column="id" data-order="ASC" class="text-center theading">Sl No <% if(columnName =='id') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="id" data-order="DESC" class="text-center theading">Sl No <% if(columnName =='id') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="title" data-order="ASC" class=" theading">Title <% if(columnName =='title') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="title" data-order="DESC" class=" theading">Title <% if(columnName =='title') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="urlKey" data-order="ASC" class=" theading">URL Key <% if(columnName =='urlKey') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="urlKey" data-order="DESC" class=" theading">URL Key <% if(columnName =='urlKey') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="image" data-order="ASC" class=" theading">Image <% if(columnName =='image') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="image" data-order="DESC" class=" theading">Image <% if(columnName =='image') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="slug" data-order="ASC" class=" theading slug">Slug <% if(columnName =='slug') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="slug" data-order="DESC" class=" theading slug">Slug <% if(columnName =='slug') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="heading" data-order="ASC" class=" theading heading">Heading <% if(columnName =='heading') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="heading" data-order="DESC" class=" theading heading">Heading <% if(columnName =='heading') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="metaTitle" data-order="ASC" class=" theading metaTitle">Meta Title <% if(columnName =='metaTitle') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="metaTitle" data-order="DESC" class=" theading metaTitle">Meta Title <% if(columnName =='metaTitle') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="metaKeyword" data-order="ASC" class=" theading metaKeywords">Meta Keyword <% if(columnName =='metaKeyword') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="metaKeyword" data-order="DESC" class=" theading metaKeywords">Meta Keyword <% if(columnName =='metaKeyword') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="metaImage" data-order="ASC" class=" theading metaImage">Meta Image <% if(columnName =='metaImage') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="metaImage" data-order="DESC" class=" theading metaImage">Meta Image <% if(columnName =='metaImage') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="createdAt" data-order="ASC" class=" theading createdAt">Created Date <% if(columnName =='createdAt') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="createdAt" data-order="DESC" class=" theading createdAt">Created Date <% if(columnName =='createdAt') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <% if(sessionStoreId=='') {%>
                <th>Store</th>
              <% }%>

              <% if(orderType =='DESC') {%>
                <th data-column="status" data-order="ASC" class=" theading">Status <% if(columnName =='status') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }else{ %>
                <th data-column="status" data-order="DESC" class="theading">Status <% if(columnName =='status') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
              <% }%>

              <th  class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% var i=1;
            arrData.forEach(function(val) { %>
              <tr>
                <td class="text-center"> <%= i %></td>
                <td> <%= val.title %></td>
                <td> <%= val.urlKey %></td>
                <td> 
                    <% if(val.image !='' && val.image != null){%>
                        <img src="<%= baseurl+ 'admin/pages/image/'+ val.id +'/' + val.image %>" class="product_img" height="50px" width="50px" >
                    <% }else{ %>
                        <img src="<%= baseurl + 'user_contents/no_image.jpg' %>" class="product_img" height="50px" width="50px" >
                    <% } %>
                </td>
                <td class="slug"> <%= val.slug %></td>
                <td class="heading"> <%= val.heading %></td>
                <td class="metaTitle"> <%= val.metaTitle %></td>
                <td class="metaKeywords"> <%= val.metaKeyword %></td>
                <td class="metaImage"> 
                  <% if(val.metaImage !='' && val.metaImage != null){%>
                      <img src="<%= baseurl+ 'admin/pages/metaimage/'+ val.id +'/' + val.metaImage %>" class="product_img" height="50px" width="50px" >
                  <% }else{ %>
                      <img src="<%= baseurl + 'user_contents/no_image.jpg' %>" class="product_img" height="50px" width="50px" >
                  <% } %>
                </td>
                <td class="createdAt"> <%= moment(val.createdAt).format( 'DD MMM, YYYY') %></td>
                <% if(sessionStoreId=='') {%>
                  <td><% storeList.forEach(function(store) { if(store.id==val.storeId){ %> <%= store.storeName %></ <% } }) %></td>
                <% }%>
                <td class="font-weight-bold"> 
                  <%if(val.status=='Yes' || val.status=='yes') {%> <span class="text-success">Active</span><% } else {%> <span class="text-danger">Inactive</span> <% } %>
                </td>
                <td class="text-center"><a href="<%= adminbaseurl%>pages/view/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a><a href="<%= adminbaseurl%>pages/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a></td>
              </tr>
            <% i++; }) %>
          </tbody>
        </table>
        <!--====================================== Pagination Start ======================================-->
        <% if(listCount>0) {%>
          <div class="pagination_sec">
            <div class="table_info">Showing <% if(((currentPage-1)*pageSize)+1==listCount) {%> <%= listCount %> <% }else{ %><%= ((currentPage-1)*pageSize)+1 %> to <%= currentPage==pageCount ? listCount : (currentPage*pageSize)  %> <% } %> of <%= listCount %> entries</div> 
          <% if(currentPage>1) {%>
            <ul>
              <li><a href="<%= adminbaseurl%>pages/list/<%=currentPage-1 %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" >Prev</a></li>
            </ul>
          <% }else{ %>
            <ul>
              <li><a href="javascript:void(0)" class="disable">Prev</a></li>
            </ul>
          <% } %>
          <% for(var i=1; i<=pageCount; i++) { %>
            <ul>
              <% if(currentPage==i) {%>
              <li><a href="<%= adminbaseurl%>pages/list/<%=i %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" class="active"><%=i %></a></li>
              <% }else{ %>
              <li><a href="<%= adminbaseurl%>pages/list/<%=i %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" class=""><%=i %></a></li>
              <% } %>
            </ul>
          <% } %>
          <% if(currentPage < pageCount) {%>
            <ul>
              <li><a href="<%= adminbaseurl%>pages/list/<%=currentPage+1 %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" >Next</a></li>
            </ul>
            <% }else{ %>
            <ul>
              <li><a href="javascript:void(0)" class="disable">Next</a></li>
            </ul>
          <% } %>
        </div>
        <% } %>
         <!--====================================== Pagination End ======================================-->
      </div>
    </div>
  </div>
</div>
<%- include ../partials/footer.html %>


<script>
  $(document).ready(() => {
    $('.theading').on('click',function(){
      var column = $(this).data('column');
      var order = $(this).data('order');

      if(order == 'DESC'){
        $(this).data('order', 'ASC');        
        window.location.href = `<%= adminbaseurl%>pages/list/1?column=${column}&order=${order}&pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>`
      }else{
        $(this).data('order', 'DESC');
        window.location.href = `<%= adminbaseurl%>pages/list/1?column=${column}&order=${order}&pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>`
      }
    })
});
</script>

<script>
  $("input:checkbox").prop("checked",false).ready(function(){
      $(".heading").hide();
      $(".createdAt").hide();
      $(".slug").hide();
      $(".metaImage").hide();
      $(".metaTitle").hide();
      $(".metaKeywords").hide();
  });
  
  $("input:checkbox").attr("checked",false).click(function(){
      let shcolumn = "."+$(this).attr('name');
      $(shcolumn).toggle();
  });
</script>

<script>
  $(document).ready(function(){
      $("#columns").hide();
  });
  function showhide(){
      $("#columns").toggle();
  }
</script> 