<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>
<style type="text/css">
  .addStore{padding: 10px;float: right;font-size: 15px;}
</style>   
<div class="content_wraper">
  <div class="main_container">
    <div class="header_wraper">
      <h2><%=title%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li>
        <li><h4><%=title%><small></small></h4></li>
      </ul>
    </div>
    <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg"><i class="fa fa-check"  aria-hidden="true"></i><%=messages%></div>
    <%}%>
    <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><%=errors%></div>
    <% }%>
    <div class="content_body">
      <div class="table_heading">
        <h3>Manage Stores</h3>
        <div class="text-right">
          <% var userPermission=false; if(permissions.length==0 && role=='' ){ userPermission=true }
          if(userPermission==true){ %>
            <a href="<%= adminbaseurl %>stores/view" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add Store</a>
          <% } %> 
        </div>  
      </div>
      <div class="table-responsive table_wraper">
        <table class="table product_list025">
          <thead>
            <tr>
              <th class="text-center">Sl No</th>
              <th>Store ID</th>
              <th>Store Name</th>
              <th>Company</th>
              <th>Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% var i= startingNumber ? startingNumber : 1;
            arrData.forEach(function(val) { %>
              <tr>
                <td class="text-center"> <%= i %></td>
                <td> <%= val.storeCode %></td>
                <td> <%= val.storeName %></td>
                <td> <%= val.company %></td>
                <td> <%= val.status %></td>
                <td class="text-center">
                  <% var userPermission=false; if(permissions.length==0 && role=='' ){ userPermission=true }else{ userPermission=!!
                    permissions.find(permission=> {
                    return permission === 'StoreView'
                    })
                    }
                    if(userPermission==true){ %>
                      <a href="<%= adminbaseurl%>stores/view/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                    <% } %>
                  
                    <% var userPermission=false; if(permissions.length==0 && role=='' ){ userPermission=true }
                      if(userPermission==true){ %>
                      <a href="<%= adminbaseurl%>stores/delete/<%= val.id %>" class="edit_btn"
                        onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                        <!--<a class="edit_btn" style="cursor: pointer;" onclick="return(confirm('Store can not delete'));"><i class="fa fa-trash"></i></a>-->
                      <% } %>
                </td>
              </tr>
            <% i++; }) %>
          </tbody>
        </table>
      </div>
      <%  if (paginate.hasPreviousPages || previousPage) { %>
        <div class="pagination_sec">
          <div class="table_info">Showing <%= startingNumber ? startingNumber : '' %> to <%= endingNumber ? endingNumber : '' %> of <%= itemCount ? itemCount : ''%> entries</div>
          <ul>
            <% if(paginate.hasPreviousPages) {%>
              <li><a href="<%= paginate.href(true) %>">Previous</a></li>
            <% }else{ %>
              <li><a href="javascript:void(0)" class="disable">Previous</a></li>
            <% } %>
            <% pages.forEach(function(page) { %>
              <li><a href="<%= page.url %>" <% if(currentPage && currentPage == page.number ) {%> class="active" <% } %>><%= page.number%></a></li>
            <%  }) %>
            <% if(previousPage) {%>
              <li><a href="<%= paginate.href() %>">Next</a></li>
            <% }else{ %>
              <li><a href="javascript:void(0)" class="disable">Next</a></li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </div>
  </div>
</div>
<%- include ../partials/footer.html %>